.header {
  display: flex;
  width: calc(100% - #{$sidebar-width});
  

  background-color: #0D0D0D;
  box-shadow: 0 5px 22px rgba(0, 0, 0, .25);

  position: fixed;
  top: 0;
  right: 0;
  z-index: $z-index-header;

  @include breakpoint($tablet-bp) {
    width: 100%;
  }
}

.header-left {
  width: 60%;

  @include breakpoint($tablet-bp) {
    width: 40%;
  }
}

.header-right {
  display: flex;
  width: 40%;
  justify-content: end;  

  @include breakpoint($tablet-bp) {
    width: 60%;
  }
}

.header-left__button {
  display: none;
  width: 3rem;
  height: 2rem;
  position: absolute;
  top: 50%;
  left: 1.5rem;
  font-size: 0;
  background: none;
  border: none;
  color: transparent;
  transform: translateY(-50%);

  &:before,
  &:after,
  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: $white;
    position: absolute;
    left: 0;
  }

  &:before,
  &:after {
    content: "";

    transition: transform .2s linear;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  span {
    top: 50%;
    transform: translateY(-50%);
    transition: opacity .2s linear;
  }

  .show-sidebar & {
    span {
      opacity: 0;
    }

    &:before,
    &:after {
      top: 50%;
    }

    &:before {
      transform: rotate(45deg);
    }
  
    &:after {
      transform: rotate(-45deg);
    }
  } 

  @include breakpoint($tablet-bp) {
    display: block;
  }
}