.post {
  background-color: $primary;
  box-shadow: 0 15px 25px rgba(#000000, .35);
  margin-bottom: 3rem;
  padding: 2.5rem;
  border-radius: 5px;
  overflow: hidden;

  @include breakpoint($mobile-bp) {
    padding: 1.5rem;
  }
}

.post__description {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #d2d2d2;
}

.post__text {
  font-size: 1.4rem;
  color: $white;

  p {
    margin-bottom: 2rem;
    margin-top: 2rem;
    line-height: 2.1rem;
    color: #d2d2d2;
  }

  h2, h3, h4, h5, h6 {
    margin-bottom: 2rem;
    font-weight: 700;
  }    

  h2 {
    font-size: 1.25em;
  }

  h3 {
    font-size: 1.15em;
  }

  h4 {
    font-size: 1.10em;
  }

  h5, h6 {
    font-size: 1em;
  }

  ul, ol {
    margin-bottom: 2rem;
    color: #d2d2d2;
  }

  ol {
    list-style: decimal;
    list-style-position: inside;
    color: #d2d2d2;
  }

  table {
    width: 100%;
    margin-bottom: 2rem;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  iframe,
  video,
  embed,
  object {
    width: 560px;
    height: 315px;
    margin: 1.5rem -.5rem 1.5rem;
  }

  a {
    color: $blue;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post__content {
  margin-bottom: 2rem;
}

.post__data {
  display: flex;
  color: #828282;
  line-height: 1.2;
  margin-bottom: 1.5rem;

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.post__header {
  margin: 0 0 2.5rem;

  &--video {
    margin: 1.5rem -2.5rem 2.5rem;

    &-margin-top {
      margin: -2.5rem -2.5rem 2.5rem;
    }
  }

  &--preview {
    margin: -2.5rem -2.5rem 2.5rem;
  }

  @include breakpoint($mobile-bp) {
    margin-bottom: 1.8rem;
  }
}

.post__preview {
  display: block;
  width: 100%;
  height: auto;
}

.post__title {
  font-size: 1.8rem;
  color: $white;
  font-weight: 500;
  
  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &--mb1 {
    margin-bottom: 1rem;
  }

  @include breakpoint($mobile-bp) {
    font-size: 1.5rem;
  }
}

.post__data-item {

  &:not(:last-child):after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #c4c4c4;
    margin: 0 1.5rem;
    position: relative;
    top: -2px;
  }

  @include breakpoint($mobile-bp) {
    font-size: 1.2rem;
  }
}

.post__read {
  color: #107eff;
  text-decoration: none;
  font-size: 1.4rem;

  &:hover {
    text-decoration: underline;
  }
}

.post__actions{
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  color: rgba($white, .6);

  a {
    color: inherit;
    opacity: 0.6;
    transition: 
    opacity .2s linear;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
  }

  @include breakpoint($mobile-bp) {
    margin-bottom: 1rem;
  }
}

.post__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include breakpoint($mobile-bp) {
    flex-direction: column;
    align-items: start;
  }
}