<div class="modal" id="contact-modal">
  <div class="modal__content">
    <h1 class="visually-hidden">Окно контактных данных</h1>
    <button class="modal__close" type="button">
      <img src="https://img.icons8.com/ios/40/ffffff/multiply.png" alt="закрыть окно">
    </button>
    <form class="form" action="/" method="POST">
      <div class="form__group form__group--md">
        <input type="name" class="form__control" placeholder="Name">
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <input type="email" class="form__control" placeholder="e-mail">
        <span class="form__line"></span>
      </div>
      <div class="form__group form__group--md">
        <textarea class="form__control form__control--textarea" placeholder="Text"></textarea>
        <span class="form__line"></span>
      </div>
      <div class="form__footer">
        <div class="form__group form__group--md">
          <button type="submit" class="btn btn--blue btn--rounded btn--sm">Send</button>
        </div>
      </div>
    </form> 
    <ul class="modal__footer-list">
      <li class="modal__footer-list-item">
        e-mail: 
        <a href="mailto:info@mywebsite.ru" href="">info@mywebsite.ru</a>
      </li>
      <li class="modal__footer-list-item">
        tel.: 
        <a href="tel:+78009000000">+78009000000</a>
      </li>
    </ul>
  </div>
</div>