<header class="header">
  <div class="header-left">
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="../index.html" class="nav__link">Main</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link has-subnav">Posts</a>
          <ul class="subnav">
            <li class="nav__item">
              <a href="../post.html" class="subnav__link">Create web sites</a>
            </li>
            <li class="nav__item">
              <a href="../post.html" class="subnav__link">Internet-marketing</a>
            </li>
            <li class="nav__item">
              <a href="#" class="subnav__link">Video</a>
            </li>
          </ul>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">About Me</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link">Advertisement</a>
        </li>
      </ul>
    </nav>
    <button class="header-left__button button" type="button" id="sidebarToggle">
      <span>open menu</span>
    </button>
  </div>
  <div class="header-right">
    <nav class="nav">
      <ul> 
        <li class="nav__item">
          <a href="../profile.html" class="nav__link">Profile</a>
        </li>
      </ul>
    </nav>
    <form action="/" method="POST" class="search">
      <input type="text" class="search-input" placeholder="search in blog">
    </form>
  </div>
</header>